body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.allExams {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 5px;

  .eid {
    margin-left: 15px;
  }

  .exam-main {
    border: 1px solid #ccc;

    ul {
      margin-top: 10px;
    }
  }

  .title {
    font-size: 20px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #ccc;
  }

  .num {
    color: #555;
  }
}

.search {
  margin: 10px;
  padding: 10px;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  border-bottom: 3px solid #bbb;
  width: 300px;
}

#App {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  a {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  cursor: pointer;
}

.welcome {
  display: flex;
  color: #222;
  margin: 20px;
  font-weight: lighter;

  width: 600px;

  img {
    margin: 50px;
    width: 200px;
  }

  p {
    font-size: 140px;
    letter-spacing: -20pt;
  }
  span {
    font-size: 40px;
  }
}

main {
  flex-grow: 1;
}

.exam-main {
  border: 1px solid #aaa;
  margin: 15px;
  padding: 5px;
  background-color: #fcfcfc;

  .exam-question {
    border: 1px solid #ccc;
    margin: 10px;
    width: 200px;
    padding: 5px;
    background-color: #fff;

    break-inside: avoid;
    display: inline-block;
    position: relative;
  }

  .question {
    color: #ff0000;
  }
}

.container {
  margin: 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;

  .questions {
    display: block;
    columns: 16rem;
    gap: 1rem;
  }

  .question-form {
    margin-bottom: 1rem;
    break-inside: avoid;
    display: inline-block;
    position: relative;
  }
}

.add-question {
  position: fixed;
  top: 0;
  left: 40vw;
}

.generateBtn,
.add-question {
  z-index: 5;
  border: 1px solid #ccc;
  border-bottom: 3px solid #bbb;
  border-radius: 0.2rem;
  padding: 5px;
  margin: 10px;
  background-color: #fff;
  cursor: pointer;
}

.fixedBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: 0;
  margin: 10px;
  cursor: pointer;
}

.generateBtn {
  position: fixed;
  bottom: 0;
  right: 0;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;

  border-top: 3px solid #ededed;
  background-color: #fff;
  padding: 5px;

  div {
    margin: 5px;
    font-size: 10px;
    text-align: center;
  }
}

header {
  display: flex;
  align-items: center;

  font-variant: small-caps;
  font-weight: 500;
  margin-bottom: 10px;

  background-color: #fff;
  padding: 10px;
  z-index: 2;

  -webkit-box-shadow: 0 3px 5px #ccc;
  -moz-box-shadow: 0 3px 5px #ccc;
  box-shadow: 0 3px 5px #ccc;

  h3 {
    cursor: pointer;
  }

  .menu {
    margin-left: auto;

    a {
      margin: 10px;
      font-size: 14px;
      text-decoration: none;
      color: #555;
    }
  }
}

.question-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fcfcfc;

  .question {
    padding: 7px;
    border: 1px solid #555;
    border-radius: 0.2rem;
  }

  label > input {
    width: 100%;
  }

  label > p {
    font-size: 12px;
    margin-top: 10px;
  }

  .answer-row {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    input.answer-input {
      width: 240px;
      border: 1px solid #bbb;
      padding: 5px;
      border-radius: 0.2rem;
    }

    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .add {
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 15px;
    cursor: pointer;
  }
}

.modal {
  position: fixed;
  border: 2px solid #ccc;
  background-color: #fcfcfc;
  padding: 10px;
  border-radius: 0.2rem;
  bottom: 0;
  right: 0;
  margin: 40px;
  width: 300px;
  height: 200px;
  z-index: 5;
  font-size: 12px;

  input {
    padding: 5px;
  }

  -webkit-box-shadow: 5px 5px 5px #ccc;
  -moz-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;

  div {
    margin: 10px;
  }
}

.btn {
  border: 1px solid #ccc;
  border-bottom: 3px solid #bbb;
  border-radius: 0.2rem;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
}

input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  content: none;
  margin: 5px;
  cursor: pointer;
}

input[type="checkbox"]:before {
  content: "\2713";
  font-size: 15px;
  font-weight: bold;
  color: transparent !important;
  background: #f9f9f9;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 0.2rem;
}

input[type="checkbox"]:checked:before {
  color: #6db500 !important;
}
